/* General*/
* { box-sizing: border-box; }

body {
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.container {
  margin: 30px auto;
  max-width: 650px;
  width: 85%;
}


/* Typography */
h1 {
  font-size: 2.4em;
  margin: 0 0 30px 0;
  text-align: center;

  small {
    opacity: 0.25;
    font-size: (1.5em / 2.4);
  }
}


/* Buttons */
.btn {
  background-color: $color-accent;
  border-radius: 3px;
  border: 1px solid $color-accent;
  color: #ffffff;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 12px 0;
  text-align: center;
  width: 100%;

  &.-ghost {
    background-color: $color-light-background;
    border-color: $color-border;
    color: inherit;
  }
}

.btn-group {
  margin: 0 0 15px 0;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0px;
  }

  .btn {
    display: block;
    float: left;
    margin-right: 8px;

    &:last-child {
      float: right;
      margin-right: 0px;
    }
  }

  &.-buttons-2 .btn { width: calc(#{(100% / 2)} - #{(1px + 8px / 2)}); }
  &.-buttons-3 .btn { width: calc(#{(100% / 3)} - #{(3px + 8px / 3)}); }
  &.-buttons-4 .btn { width: calc(#{(100% / 4)} - #{(4px + 8px / 4)}); }
}


/* Code input section */
.code {
  margin: 50px 0 0 0;

  textarea {
    font-family: monospace;
    border-radius: 4px;
    border: 1px solid $color-border;
    display: block;
    height: 250px;
    margin: 0 0 15px 0;
    padding: 15px;
    resize: none;
    width: 100%;

    &::placeholder {
      color: $color-text-light;
    }
  }
}
