.board {
  border-radius: 4px;
  border: 1px solid $color-border;
  height: #{(15px * 2 + 16 * (12px + 6px) - 5px)};
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0px;
  }


  /* Circuit styles */
  &__circuit {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: calc(100% - #{((3 * 15px) + (16px * (12 + 6) - 5px))});
    border-radius: 4px;
    background-color: $color-light-background;
  }


  /* Matrix styles */
  &__matrix {
    float: right;
    margin-bottom: -6px;

    .led {
      background-color: $color-light-background;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer;
      float: left;
      height: 12px;
      margin: 0 6px 6px 0;
      width: 12px;

      &:nth-child(16n) { margin-right: 0; }

      &:nth-child(16n+1) { clear: both; }

      &.-selected { border-color: $color-border; }
    }
  }
}
