/* Variables */
$color-accent: rgb(66, 153, 217);
$color-border: rgb(220, 220, 220);
$color-light-background: rgb(248, 248, 251);
$color-text-light: rgb(150, 150, 150);
$color-text: rgb(27, 57, 65);


/* Imports */
@import 'base';
@import 'board';
